.homepage-container {
  padding: 80px 20px 20px;
  max-width: 1280px;
  margin: 0 auto;
  min-height: calc(100vh - 100px);
}

.search-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
  padding: 0 20px;
}

.search-input {
  padding: 10px;
  width: 100%;
  max-width: 500px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

.search-button {
  width : 8%;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #45a049;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding: 0 20px;
}

.video-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: transform 0.3s ease-in-out;
}

.video-item:hover {
  transform: scale(1.05);
}

.video-item h3 {
  color: #333;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.video-thumbnail img {
  width: 100%;
  border-radius: 8px;
}
