.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start ;
  background-color: #282c34;
  padding: 10px 20px;
  position: sticky; /* Navbar stays at the top */
  top: 0;
  width: 100vw;
  z-index: 1000; /* Ensure navbar is always above other content */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-logo a {
  color: #61dafb;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links a,
.navbar-links button {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 1.1rem;
  transition: color 0.3s ease;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-links button {
  background-color: #4caf50;
  padding: 8px 16px;
  border-radius: 4px;
}

.navbar-links button:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {
  .navbar {
      flex-direction: column; /* Stack navbar items on smaller screens */
  }

  .navbar-links {
      display: flex;
      margin-top: 10px;
  }

  .navbar-links a {
      margin-left: 0; /* Remove margin on smaller screens */
  }
}
